In [2]:
# (1)create ond variable containing following type of data 
1. string
2. list
3. float
4. tuple

In [8]:
x = [10.5 , "vaibhav"]

In [9]:
type(x)

list

In [35]:
# Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1

What will be the data type of the above given variable.

SyntaxError: invalid character '‘' (U+2018) (1905727620.py, line 2)

In [ ]:
(i)  = 
(ii) = list 
(iii)=
(iv) = int

In [ ]:
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [26]:
#(i) / = division operator
# Example
5/4

1.25

In [27]:
#(ii) % = modulus operator
# Example 
5%4

1

In [28]:
#(iii) // = divison floor
# Example
5//4

1

In [29]:
#(iv) ** = cube
# Example
5**2

25

In [19]:
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [34]:
a = ["india",5,'true',25.50,'false',5+6j,25,65.50,65+5j,"hindustan"]
for i in a:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [ ]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [42]:
print("the no which is divisible by 3 are:")
b = [15,13,20,18,36,42,40,72,24,55,23,21,24,84,88,47,49,57,53,89,25,46,66,63,93]
for i in b:
    if i % 3 == 0:
        print(i)
else: 
    print("the no which is not divisible by 3 are:")
    i in b;
    if i % 3 != 0:
        print(i)

the no which is divisible by 3 are:
15
18
36
42
72
24
21
24
84
57
66
63
93
the no which is not divisible by 3 are:

In [ ]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [43]:
# mutable object =it is an object whose state can be change after it is created . like = list
c = [1,21]

In [45]:
c

[1, 21]

In [46]:
# change 21 as 2100
c[1]=2100

In [48]:
c

[1, 2100]

In [50]:
# immutable object = it is an object whose state cant be changed after its creation .
d = ['hello', 'captain']

In [51]:
d

['hello', 'world']

In [52]:
#change hello as bye
d[0]= bye

NameError: name 'bye' is not defined